.weather {
  text-align: center;
  margin: 50px;
  border: 1px solid rgb(221, 216, 216);
  padding: 10px 200px;
  margin: 10px auto;
  max-width: 900px;
  border-radius: 5px;
  background-color: black;
}

.searchBar {
  background: white;
  padding: 0px 10px 0px 10px;
  margin: 10px 10px 10px 10px;
}

.button {
  background-color: fuchsia;
  border-color: lime;
  padding: 05px;
}

.searchBar {
  border-radius: 8px;
  background-color: black;
  color: lime;
  padding: 8px 6px 6px 8px;
  border-color: lime;
}

.temp {
  font-size: 60px;
}
.fecha {
  font-size: 30px;
}

.details,
.fecha,
.temp,
.weatherdata,
h1 {
  color: fuchsia;
}

.text-capitalize {
  font-size: 20px;
  color: lime;
}
