.container {
  text-align: center;
  margin: 50px;
  border: 1px solid rgb(221, 216, 216);
  padding: 40px 20px;
  margin: 30px auto;
  max-width: 900px;
  border-radius: 5px;
  background-color: black;
}

.searchBar {
  background: lime;
  padding: 0px 10px 0px 10px;
  margin: 0px 10px 0px 10px;
}

.btn {
  background-color: black;
  border-color: lime;
}

.form-control {
  border: 10px;
  border-radius: 8px;
  color: black;
  background: #d2f6c5;
  padding: 8px 6px 6px 8px;
}

.btn {
  border: 10px;
  border-radius: 8px;
  color: black;
  background: #4ddf19;
  padding: 8px 6px 6px 8px;
}

.description {
  text-align: right;
}

.row {
  text-align: center;
}
